<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="1.0.58" targetFramework="net472" />
  <package id="FParsec" version="1.0.3" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net472" />
  <package id="Prime" version="8.0.0" targetFramework="net472" />
</packages>